{% import "shared/forms.html" as forms %}
<!-- proposal code -->
{% include "shared/proposal_code.html" %}

<!-- Principal Investigator -->
{% include "shared/principal_investigator.html" %}

<!-- target name -->
{% include "shared/target.html" %}

<!-- right ascension -->
{% include "shared/right_ascension.html" %}

<!-- declination -->
{% include "shared/declination.html" %}

<!-- position angle -->
{% include "shared/position_angle.html" %}

<!-- slit width -->
{% include "shared/slit_width.html" %}
