<!-- text input field -->

{% macro input(name, label, value, help="") %}
    <div class="field" data-name="{{ name }}">
        <label for="{{ name }}" class="label">{{ label }}</label>
        <div class="control">
            <input id="{{ name }}" name="{{ name }}" value="{{ value }}"
                   placeholder="{{ placeholder }}" class="input">
        </div>
        {% if help %}
            <div class="help">{{ help }}</div>
        {% endif %}
        <div class="help is-danger"></div>
    </div>
{% endmacro %}

<!-- file input field -->

{% macro file_input(name, label, button_label, help="") %}
    <div class="field" data-name="{{ name }}">
        <label class="label">{{ label }}</label>
        <div class="control">
            <label class="file-label">
                <input id="{{ name }}" name="{{ name }}" type="file" class="file-input">
                <span class="file-cta">
                    <span class="file-label">{{ button_label }}</span>
                </span>
            </label>
        </div>
         {% if help %}
            <div class="help">{{ help }}</div>
        {% endif %}
        <div class="help is-danger"></div>
   </div>
{% endmacro %}
